{% extends 'base.html.twig' %}

{% block title %}LeaveResquest{% endblock %}

{% block body %}

    <head>
        <style>


            * {
                box-sizing: border-box;
            }


            .link {
                height: 30px;
                align-items: center;
                color: #000;
                text-decoration: none;
                display: flex;
            }

            /* Hide extra text */
            .mask {
                position: relative;
                padding: 0;
                height: 20px;

                /*  Remove overflow to see how it works　:) */
                overflow: hidden;
            }

            .link-container {
                transition: transform 0.4s ease;
            }

            .title {
                display: block;

                /*  Set same font-size and line height  */
                font-size: 20px;
                line-height: 20px;

                transition: transform 0.4s ease;
            }

            .link-title1 {
                transform-origin: right center;
            }

            .link-title2 {
                transform-origin: left center;
                transform: rotate(20deg);
            }

            .link-icon {
                position: relative;
                width: 35px;
                height: 35px;
                border: 2px solid;
                background: #ffffff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 10px;

                /*  Remove overflow to see how it works　:) */
                overflow: hidden;
            }

            .icon {
                display: block;
                position: absolute;
                transition: transform 0.4s ease;
            }

            .icon:nth-child(2) {
                transform: translate(-40px);
            }

            /* Hover Action*/

            /* Move up two texts (20px = font-size) */
            .link:hover .link-container {
                transform: translateY(-20px);
            }

            /* Rotate texts a little bit */
            .link:hover .link-title1 {
                transform: rotate(20deg);
            }

            .link:hover .link-title2 {
                transform: rotate(0);
            }

            /* Move arrows to right */
            .link:hover .icon:first-child {
                transform: translate(40px);
            }

            .link:hover .icon:nth-child(2) {
                transform: translate(0px);
            }


            * {
                box-sizing: border-box;
            }


            .link {
                height: 30px;
                align-items: center;
                color: #000;
                text-decoration: none;
                display: flex;
            }

            /* Hide extra text */
            .mask {
                position: relative;
                padding: 0;
                height: 20px;

                /*  Remove overflow to see how it works　:) */
                overflow: hidden;
            }

            .link-container {
                transition: transform 0.4s ease;
            }

            .title {
                display: block;

                /*  Set same font-size and line height  */
                font-size: 20px;
                line-height: 20px;

                transition: transform 0.4s ease;
            }

            .link-title1 {
                transform-origin: right center;
            }

            .link-title2 {
                transform-origin: left center;
                transform: rotate(20deg);
            }

            .link-icon {
                position: relative;
                width: 35px;
                height: 35px;
                background: #f8f8ff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 10px;

                /*  Remove overflow to see how it works　:) */
                overflow: hidden;
            }

            .icon {
                display: block;
                position: absolute;
                transition: transform 0.4s ease;
            }

            .icon:nth-child(2) {
                transform: translate(-40px);
            }

            /* Hover Action*/

            /* Move up two texts (20px = font-size) */
            .link:hover .link-container {
                transform: translateY(-20px);
            }

            /* Rotate texts a little bit */
            .link:hover .link-title1 {
                transform: rotate(20deg);
            }

            .link:hover .link-title2 {
                transform: rotate(0);
            }

            /* Move arrows to right */
            .link:hover .icon:first-child {
                transform: translate(40px);
            }

            .link:hover .icon:nth-child(2) {
                transform: translate(0px);
            }

        </style>
    </head>
    <h1>LeaveResquest</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ leave_resquest.id }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ leave_resquest.StartDate ? leave_resquest.StartDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ leave_resquest.EndDate ? leave_resquest.EndDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>TypeConge</th>
                <td>{{ leave_resquest.typeConge }}</td>
            </tr>
            <tr>
                <th>Reason</th>
                <td>{{ leave_resquest.Reason }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ leave_resquest.FirstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ leave_resquest.LastName }}</td>
            </tr>
        </tbody>
    </table>
<div style="display: flex; justify-content: space-between">
    <a href="{{ path('app_leave_resquest_index') }}" class="link">
        <span class="mask">
            <div class="link-container">
              <span class="link-title1 title">BACK TO LIST</span>
              <span class="link-title2 title">BACK TO LIST</span>
            </div>
        </span>
        <div class="link-icon">
            <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                 clip-rule="evenodd">
                <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/>
            </svg>
            <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                 clip-rule="evenodd">
                <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/>
            </svg>
        </div>
    </a>

    <a href="{{ path('app_leave_resquest_edit', {'id': leave_resquest.id}) }}" class="link">
        <span class="mask">
            <div class="link-container">
              <span class="link-title1 title">EDIT</span>
              <span class="link-title2 title">EDIT</span>
            </div>
        </span>
        <div class="link-icon">
            <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                 clip-rule="evenodd">
                <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/>
            </svg>
            <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                 clip-rule="evenodd">
                <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/>
            </svg>
        </div>
    </a>
</div>
    {{ include('leave_resquest/_delete_form.html.twig') }}
{% endblock %}
